<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bacanga Wash <ion-icon name="school"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
<!--card 1-->
  <ion-content fullscreen>
    <ion-card>
      <img src="./assets/imagem/2.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
        <ion-card-title>Vamos vencer o covid-19</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Para vencer essa nova fase, precisamos combater junstos o Covid-19, tomando as precauções necessarias para evitar o contágio.
    <!--<ion-button expand="block" color-rgb="#0594b4">Começar a Prevenção </ion-button>-->
    <ion-button expand="block" routerLink="/previnir" routerDirection="root"  color-rgb="#0594b4"> <ion-spinner name="dots"></ion-spinner> Começar a Prevenção <ion-spinner name="dots"></ion-spinner> </ion-button>
  </ion-card-content>
</ion-card>
  

  <ion-card>
    <img src="./assets/imagem/gui1.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
      <ion-card-title>Guia Para Os Protagonista</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Um guia dedicado aos jovens protagonista com o intuito de ajudar mesmo estando distante.
  <ion-button expand="block" routerLink="/guialuno" routerDirection="root"  color-rgb="#0594b4"> <ion-spinner name="dots"></ion-spinner> Ir para o guia <ion-spinner name="dots"></ion-spinner> </ion-button>
</ion-card-content>
</ion-card>

<!--card 2-->
  <ion-card>
    <img src="./assets/imagem/6.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Combatemos juntos</ion-card-subtitle>
      <ion-card-title>Vamos vencer o covid-19</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Veja as informações para se proteger de maneira correta.
      <ion-button expand="block" routerLink="/informacoes" routerDirection="root"  color-rgb="#0594b4" > <ion-spinner name="dots"></ion-spinner> Informações <ion-spinner name="dots"></ion-spinner> </ion-button>

</ion-card-content>
</ion-card>
</ion-content>