<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Informações <ion-icon name="information-circle-sharp"></ion-icon> </ion-title>
    <div class="bt">
    <ion-button routerLink="/tabs" routerDirection="root"  color="primary" ><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
  </div>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card>
    <img src="./assets/imagem/15.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Combatemos juntos</ion-card-subtitle>
      <ion-card-title>Vamos vencer o covid-19</ion-card-title>
    </ion-card-header>
    <ion-card-content>
 Para você nos ajudar a combater esse vírus precisa entender o que é o covid-19!
</ion-card-content>
</ion-card>
<h1>O que é o coronavírus?</h1>
  <h5>Coronavírus é uma família de vírus que causam infecções respiratórias. O Novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. Provoca a doença chamada de coronavírus (COVID-19).
    <ion-card>
      <ion-card-subtitle>fonte:coronavirus.saude.gov.br</ion-card-subtitle>
    </ion-card>
  </h5>

  <h1>Quais são os sintomas?</h1>
  <br>
  <h3>Tosse;<br>
    Febre;<br>
    Coriza;<br>
    Dor de garganta;<br>
    Dificuldade para respirar;</h3><br>

 <h1>Como é transmitido?</h1>   
 <h5>A transmissão acontece de uma pessoa doente para outra ou por contato físico com:</h5>
<h3>Toque do aperto de mão;<br>
 Gotículas de saliva;<br>
 Espirro;<br>
 Tosse;<br>
 Objetos ou superfícies contaminadas, como celulares, mesas, maçanetas, brinquedos, teclados de computador entre outros.
</h3><br>
<!--<ion-button expand="block" routerLink="/tabs" routerDirection="root"  color="primary" >Voltar</ion-button>-->
</ion-content>
