<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Guia<ion-icon name="book-outline"></ion-icon> </ion-title>

    <div class="bt">
      <ion-button routerLink="/tabs" routerDirection="root"  color="primary" ><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor1.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor2.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor3.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor4.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor5.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor6.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor7.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor8.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor9.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor10.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor11.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor12.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor13.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor14.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor15.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor16.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor17.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor18.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor19.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor20.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor21.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor22.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor23.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor24.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor25.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor26.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor27.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor28.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor29.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor30.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor31.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor32.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor33.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor34.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor35.jpg">
      </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides [options]="sliderOpts" zoom>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="../../assets/imagem/infor36.jpg">
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
