<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mapa <ion-icon color="success" name ="map"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="./assets/imagem/19.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
      <ion-card-title>Veja os casos no local aonde você está</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O mapa demostra os casos confirmados, casos confirmados, não só no Brasil mas no mundo e perto de sua localizaçâo, veja agora.
    </ion-card-content>
  <ion-button expand="block" (click)="openUrl()"> <ion-spinner name="dots"></ion-spinner> Click Aqui <ion-spinner name="dots"></ion-spinner> </ion-button>

</ion-card>

  

</ion-content>
