<ion-header>
</ion-header>

<ion-content>
  <ion-content>
    <ion-slides pager="true">
      <ion-slide style="background:#ffffff" >
          <img src="assets/imagem/9.jpg">
          <ion-text color="primary">
            <h1></h1>
          </ion-text>
      </ion-slide>

      <ion-slide style="background:#ffffff" >
        <img src="assets/imagem/7.jpg">
        <ion-text color="primary">
          <h1></h1>
        </ion-text>
      </ion-slide>
      <ion-slide style="background:#ffffff" >
        <img src="assets/imagem/8.jpg">
        <ion-text color="">
          <h1></h1>
        </ion-text>
        <ion-button expand="block" routerLink="/proteger" routerDirection="root"  color-rgb="#0594b4" >proteja-se</ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-content>
