<ion-header [translucent]="true">
  <ion-toolbar color ="primary">
    <ion-title>
      Inove <ion-icon color="warning" name="bulb"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img src="./assets/imagem/tab3_1.gif"/>
    <ion-card-header>
      <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
      <ion-card-title>Crie novas ideias</ion-card-title>
    </ion-card-header>
    Crie sua própria realidade de sua casa, invente projetos  para combater o avanço do vírus e inove!
    <ion-card-content>
      
</ion-card-content>
</ion-card>
  
<ion-card>
  <img src="./assets/imagem/tab3_2.jpg"/>
  <ion-card-header>
    <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
    <ion-card-title>Crie um cronograma</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Faça um cronogrma onde você colocará suas metas para a semana!
</ion-card-content>
</ion-card>

<ion-card>
  <img src="./assets/imagem/tab3_3.gif"/>
  <ion-card-header>
    <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
    <ion-card-title>Fique em casa!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Evite sair de casa até o momento não há uma vacina, então a única solução é o isolamento evitando o contágio em novas pessoas.
</ion-card-content>
</ion-card>

<ion-card>
  <img src="./assets/imagem/tab3_4.jpg"/>
  <ion-card-header>
    <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
    <ion-card-title>Reinvente-se</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Faça cursos online, participe  de aulas online, vídeo conferência e outras mais, Aprimore seu conhecimento através das plataformas sugerida da sua unidade.
</ion-card-content>
</ion-card>

<ion-button color="primary" href="https://www.instagram.com/iemaitaquibacangaoficial/"> <ion-icon name="logo-instagram"></ion-icon> </ion-button>

<ion-button color="primary" href="http://www.iema.ma.gov.br/"> <ion-icon name="globe"></ion-icon> </ion-button>

</ion-content>
