<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Maneiras<ion-icon name="checkbox-sharp"></ion-icon> 
    
      <div class="bt">
        <ion-button routerLink="/proteger" routerDirection="root"  color="primary" ><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-slides pager="true">
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira01.gif"><br>
        <ion-text color="dark">
        <h2>O jeito correto de lavar as mãos, segundo a OMS</h2>
        </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira3.gif">
        <ion-text color="dark">
          <h2>Use sabonete líquido</h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira1.gif">
        <ion-text color="dark">
          <h2>Esfregue as palmas das mãos</h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira4.gif">
        <ion-text color="dark">
          <h2>Entrelace os dedos e lave as costas de uma mão com a palma da outra</h2>
          </ion-text>
      </ion-slide>
      <ion-slide >
        <img src="assets/imagem/maneiras/maneira5.gif">
        <ion-text color="dark">
          <h4>Esfregue o punho esquerdo com a palma da mão direita em movimentos circulares e vice-versa</h4>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira6.gif">
        <ion-text color="dark">
          <h2>Esfregue os dedos com as mãos entrelaçadas </h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira7.gif">
        <ion-text color="dark">
          <h2>Esfregue a parte de trás dos dedos na palma da outra mão</h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira8.gif">
        <ion-text color="dark">
          <h2>Gire uma mão fechada sobre o polegar. Repetir na outra mão</h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira9.gif">
        <ion-text color="dark">
          <h2>Esfregue os dedos de uma mão fechada sobre a palma da outra mão</h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira10.gif">
        <ion-text color="dark">
          <h2>Enxágue as mãos</h2>
          </ion-text>
      </ion-slide>
      <ion-slide  >
        <img src="assets/imagem/maneiras/maneira11.gif">
        <ion-text color="dark">
          <h2>Seque bem as mãos usando uma toalha de papel </h2>
          </ion-text>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card>
    <img src="./assets/imagem/mapa.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Combatemos Juntos</ion-card-subtitle>
      <ion-card-title>Vamos vencer o covid-19</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     O mundo todo agradece pela sua colaboração tomando os devidos cuidados para não se contagiar, e por esta barrando o avanço do vírus, juntos conseguiremos passar por essa fase.
</ion-card-content>
</ion-card>

 <!--<ion-button expand="block" routerLink="/tabs" routerDirection="root" color="primary">Voltar</ion-button>-->
</ion-content>
